*{
    box-sizing:content-box;
    text-wrap:wrap;
}
.w-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    height: 100%;
    width: 100%;
}
.info-grid{
    display: grid;
    height: 60%;
    width: 100%;
    grid-template-columns: 30% 70%;
}
.main-info{
    
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #f9f6fb;
}
.c-c{
    background: linear-gradient(to bottom,#5acdfe44, #00012e6b);
    /* box-shadow: 0px 2px 5px 1px rgba(171, 170, 170, 0.205); */
    transition: 0.1s ease;
    margin: 5px;
    border-radius: 9px;
    
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.temp{
    background: linear-gradient(to bottom,#5acdfe44, #00012e6b);
    /* box-shadow: 0px 2px 5px 1px rgba(171, 170, 170, 0.205); */
    transition: 0.1s ease;
    margin: 5px;
    border-radius: 9px;

    width: 100%;
    height: 70%;
    font-size: 30px;
    display: grid;
    place-items: center;
}
.temp:hover , .c-c:hover{
    transform: scale(1.03);
}
.other-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    
    place-items: center;

}

.item1, .item2, .item3, .item4, .item5, .item6 {
    width: 90%;
    height: 90%;
    margin: 5px;
    border-radius: 9px;
    display: grid;
    grid-template-rows: 50% 70%;
    word-wrap: break-word;
    align-items: center;
    background: linear-gradient(to bottom,#5acdfe44, #00012e6b);
    /* box-shadow: 0px 1px 3px 1px rgba(171, 170, 170, 0.353); */
    transition: 0.1s ease;
    overflow: hidden;

}
.title{
    font-size: 15px;
    display: grid;
    place-items: center;
    color: #0c0219;
    font-family:monospace;
}
.data{
    font-size: 15px;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-family:monospace;
    /* background-color: red; */
}
.item1:hover, .item2:hover, .item3:hover, .item4:hover, .item5:hover, .item6:hover{
    transform: scale(1.03);
}


.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.input-text{
    width: 55vw;
    height: 7vh;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 3px 5px 1px gray;
    color: #f9f6fb;
   text-align: center;
   font-weight: bold;
   background: transparent;
   box-shadow: 0px 0px 4px 1px #48454c inset;
   background-color:#14012b7e ;
}
.input-btn{
    width: 20vw;
    height: 7vh;
    border-radius: 10px;
    border: none;
    color: #f9f6fb;
    text-align: center;
    font-weight: bold;
    background-color:#14012b ;
}
.input-btn:hover{
    background-color:#210346 ;
}
input:focus {
    outline: none;
}
@media (max-width : 500px) {
    .search{
        justify-content: space-evenly;
    }
    .info-grid{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }
    .main-info , .other-info{
        height: 100%;

    }
    .main-info .data{
        height: 2vh;
        width: 20vw;
    }
    .item1, .item2, .item3, .item4, .item5, .item6 {
        height: 14vh;
        width: 26vw;
    }
}